<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @officer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @officer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @officer.email %>
</p>

<p>
  <strong>Agency contact:</strong>
  <%= @officer.agency_contact_id %>
</p>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back', officers_path %>
