<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @job.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @job.end_time %>
</p>

<p>
  <strong>Crypt code:</strong>
  <%= @job.crypt_code %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
