<p id="notice"><%= notice %></p>

<h1>Listing Check Ins</h1>

<table>
  <thead>
    <tr>
      <th>Check in time</th>
      <th>Check out time</th>
      <th>Crypt check code</th>
      <th>Officer</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_ins.each do |check_in| %>
      <tr>
        <td><%= check_in.check_in_time %></td>
        <td><%= check_in.check_out_time %></td>
        <td><%= check_in.crypt_check_code %></td>
        <td><%= check_in.officer_id %></td>
        <td><%= check_in.job_id %></td>
        <td><%= link_to 'Show', check_in %></td>
        <td><%= link_to 'Edit', edit_check_in_path(check_in) %></td>
        <td><%= link_to 'Destroy', check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check in', new_check_in_path %>
