<p id="notice"><%= notice %></p>

<p>
  <strong>Check in time:</strong>
  <%= @check_in.check_in_time %>
</p>

<p>
  <strong>Check out time:</strong>
  <%= @check_in.check_out_time %>
</p>

<p>
  <strong>Crypt check code:</strong>
  <%= @check_in.crypt_check_code %>
</p>

<p>
  <strong>Officer:</strong>
  <%= @check_in.officer_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @check_in.job_id %>
</p>

<%= link_to 'Edit', edit_check_in_path(@check_in) %> |
<%= link_to 'Back', check_ins_path %>
