<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agency_contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @agency_contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agency_contact.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @agency_contact.location_id %>
</p>

<%= link_to 'Edit', edit_agency_contact_path(@agency_contact) %> |
<%= link_to 'Back', agency_contacts_path %>
