<%= form_for(@retail_loss_prevention_manager) do |f| %>
  <% if @retail_loss_prevention_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retail_loss_prevention_manager.errors.count, "error") %> prohibited this retail_loss_prevention_manager from being saved:</h2>

      <ul>
      <% @retail_loss_prevention_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
